  {{#paper-toolbar as |toolbar|}}
     {{#toolbar.tools}}
     {{#paper-button iconButton=true class="hide-gt-sm" onClick=(action toggleSlideNav)}}
       {{paper-icon "menu"}}
     {{/paper-button}}
       <h2>Shopka</h2>
       <span class="flex">
{{input value=searchTerm }}
       </span>

       {{layout.authorization-ui}}
     {{/toolbar.tools}}
   {{/paper-toolbar}}
